{% extends 'base.html' %} {% load static %} {% block content %}
{% load slippers %}
<!-- Header-->

<!-- Navigation-->

{% #home_banner %}
{% /home_banner %}


<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-2">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-between productin"
    >
    
      {% for product in products %}
        {% #product slug=product.slug name=product.name price=product.price images=product.images.all %}
        {% /product %}
        {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
