{% extends 'base.html' %} {% load static %} {% block content %}
{% load slippers %}


{% if product %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                {% comment %} <img class="card-img-top mb-2 mb-md-0 product-detail-img" src="{{product.images.all.first.image.url}}" alt="..." /> {% endcomment %}
                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                    {% for image in product.images.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img class="card-img-top mb-2 mb-md-0 product-detail-img" src="{{image.image.url}}" alt="Third slide">
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">{{product.name}}</h1>
                <div class="fs-5 mb-2">
                    {% comment %} <span class="text-decoration-line-through">Rs {{product.price}}</span> {% endcomment %}
                    <span>Rs {{product.price}}</span>
                </div>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                {% comment %} <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</section>
{% else %}
        <p>Product not found.</p>
{% endif %}

<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-between">
            {% for product in featured_products %}
            {% #product category=product.category slug=product.slug name=product.name price=product.price images=product.images.all %}
            {% /product %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}



